* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.routing-bg-container {
  background-color: #ffffff;
  padding: 12px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routing-main-container {
  width: 94%;
  min-height: 300px;
  border: 4px solid #551e53;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}
